<!DOCTYPE html>
<html>
  <head>  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
(function () {
  
  var startTime = new Date();
  
  var loaded = 0;
  function initGA(clientId) {
    // ga has already been initialized
    if (loaded++) return;

    var opts;
    if (clientId !== undefined) {
      opts = {
        clientId: clientId,
      };
    }

    ga('create', 'UA-35608136-3', 'migrate-ga-post.glitch.me', opts);
    ga('send', 'pageview');
    ga('send', 'event', 'debug', 'normal');
    
    ga(function (tracker) {
      console.log("tracker:", tracker);
      var loadTime = new Date() - startTime;
      document.getElementById('msg').textContent = 
        `${tracker.get('clientId')} (${loadTime} ms) -- migration ${clientId === undefined ? "failed" : "success"}`;
      
    });
    
    
  }

  // Handle incoming GA cookie migration message from migration iframe
  window.addEventListener('message', function(event) {
    console.log("Got message:", event);
    // Ignores messages from untrusted domains.
    if (event.origin != 'https://migrate-ga-pre.glitch.me') return;
    // only handle clientId migration in this handler
    if (event.data.type != 'ga-clientId') return;
    initGA(event.data.clientId);
  });
  
  // Wait max 2 sec for cookie migration.
  setTimeout(initGA, 2000);
  
  /* NOTE: You can't use ga() here now! You have to wait
   * until initGA has been called. You can create your own
   * event queue object (as ga itself is before the script loads)
   * and flush it when initGA is called.
   */
})();

  </script>
  
</head>
  
<body>

<!-- load cookie migration iframe -->
<iframe id=client-id-migration src=https://migrate-ga-pre.glitch.me/ga-client-id.html style=display:none></iframe>

<!-- migration POC -->
<p>
  My GA client ID: <span id=msg></span>
</p>

  </body>
</html>
